<%= render "breadcrumbs" unless current_page?(new_organization_journey_path) %>

<% content_for :content do %>
  <header>
    <h1>Login to <%= Config.organization %></h1>
  </header>
  <%= yield %>
<% end %>

<%= render template: "layouts/application" %>
