<p>Your <%= Config.organization %> login code is:</p>

<h1><%= @code %></h1>

<br>

<p>This code will expire in <b>10 minutes</b>.</p>

<a style="font-size: smaller" href="https://codeberg.org/United" target="_blank"><p>This email is powered by <span style="text-decoration: underline">United</span> — free, open software for membership in collective organizations</p></a>