<h2><b><%= @petitioner.name %></b> has requested to become a member of <%= Config.organization %>.</h2>

<br><br>

<p>To approve or deny their request, log in to your organization dashboard at
 <%= link_to organization_members_url, organization_members_url %>
</p>
