<main id="main">
  <%= form_with scope: :config, url: organization_journey_path, method: :post do |form| %>
    <div>
      <%= form.label :email, "Email" %>
      <%= form.text_field :email, placeholder: "fionahu@obl.ong" %>
    </div>

    <%= form.submit "Continue →" %>
  <% end %>
</main>
