<h2>🗸 You've requested to join <%= Config.organization %>, <%= @member.name.split(" ")[0] %>!</h2>

<p>You will recieve a follow-up email once the administrator approves or denies your request to join.</p>
