@import url("radix/sand.css");
@import url("radix/red.css");
@import url("radix/green.css");
@import url("radix/amber.css");
@import url("radix/yellow.css");
@import url("https://overpass-30e2.kxcdn.com/overpass.css");

:root {
  color-scheme: light dark;
}

html {
  padding: 0;
  margin: 0;
  height: 100%;
  font-family: "Overpass", system-ui;
}

* {
  font-family: "Overpass", system-ui;
}

body {
  margin: 0;
  background-color: var(--sand-3);
  padding: 2rem;
  padding-bottom: 0;
}

h1 {
  font-size: 3rem;
  letter-spacing: -3px;
  color: var(--red-11);
}

table {
  width: 100%;
  max-width: 1000px;
  table-layout: fixed;
  container: table / inline-size;
  contain: content;
  border-collapse: separate;
  border-spacing: 0 0;
}

th {
  border-bottom: 1px solid var(--sand-8);
}

th:nth-last-child(1),td:nth-last-child(1) {
  border-right: 0;
}

th, td {
  border-right: 1px solid var(--sand-8);
  box-sizing: border-box;
  padding: 0.5rem;
}

thead th, tbody tr td {
  word-wrap: break-word;
  text-align: left;
}

thead th:nth-child(1) {
  width: 5cqmax;
}

thead th:nth-child(2) {
  width: 5cqmax;
}

thead th:nth-child(3) {
  width: 8cqmax;
}

thead th:nth-child(4) {
  width: 4cqmax;
}

thead th:nth-child(5) {
  width: 4cqmax;
}

thead th:nth-child(6) {
  width: 3cqmax;
}

thead th:nth-child(7) {
  width: 2cqmax;
}

.expired-chip {
  border-radius: 4px;
  background-color: var(--red-3);
  font-weight: 600;
  border: 2px solid var(--red-6);
  color: var(--red-11);
  padding: 5px 10px;
  word-wrap: normal;
}

.active-chip {
  border-radius: 4px;
  background-color: var(--green-3);
  font-weight: 600;
  border: 2px solid var(--green-6);
  color: var(--green-11);
  padding: 5px 10px;
  word-wrap: normal;
}

.banned-chip {
  border-radius: 4px;
  background-color: var(--amber-3);
  font-weight: 600;
  border: 2px solid var(--amber-6);
  color: var(--amber-11);
  padding: 5px 10px;
  word-wrap: normal;
}

.deceased-chip {
  border-radius: 4px;
  background-color: var(--sand-8);
  font-weight: 600;
  border: 2px solid var(--sand-11);
  color: var(--sand-12);
  padding: 5px 10px;
  word-wrap: normal;
}

button, a[type=button], input[type=submit] {
  border-radius: 4px;
  background-color: var(--amber-9);
  font-weight: 600;
  border: 2px solid var(--amber-9);
  color: light-dark(black,var(--sand-3));
  padding: 5px 10px;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

button:hover, a[type=button]:hover, input[type=submit]:hover {
  background-color: var(--amber-10);
  border: 2px solid var(--amber-10);
}

input[type=submit] {
  background-color: var(--green-9);
  border-color: var(--green-9);
  color: var(--sand-1);
  max-width: 150px;
  padding: 0.5rem;
}

input[type=submit]:hover {
  background-color: var(--green-10);
  border-color: var(--green-10);
}

input[type=submit].delete {
  background-color: var(--red-10);
  border-color: var(--red-10);
}

input[type=submit].delete:hover {
  background-color: var(--red-10);
  border-color: var(--red-10);
}

a {
  color: unset;
  text-decoration: none;
}

form {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  max-width: 500px;
}

input[type=text], input[type=date], input[type=email], input[type=number], input[type=password], input[type=url], select, canvas.signature {
  border: 1px solid var(--sand-8);
  border-radius: 3px;
  font-weight: 500;
  font-size: 16px;
  padding: 0.5rem;
  width: -moz-available;
  width: -webkit-fill-available;
  width: stretch;
  transition: 0.1s ease-in-out;
  background: var(--sand-1);
}

select {
  overflow: hidden;
  text-overflow: ellipsis;
}

.trix-content {
  background: var(--sand-1) !important;
}

input[type=text]:focus, input[type=date]:focus, input[type=email]:focus, input[type=number]:focus, input[type=password]:focus {
  outline: none;
}

input[type=checkbox] {
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
}

input[type=checkbox]:checked {
  accent-color: var(--red-9);
}

input[type=checkbox]:checked:hover {
  accent-color: var(--red-10);
}

form > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: flex-start;
}

.bottom-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-top: 2rem;
}


.flash-error {
  display: flex;
  padding: 1rem 2rem;
  align-items: center;
  background: var(--red-9);
  width: fit-content;
  color: var(--sand-1);
  border-radius: 10px;

  ul {
    padding: 0;
    margin: 0;
    list-style-position: inside;
  }
}

.field_with_errors {
  width: 100%;
  input {
    color: var(--red-12);
    font-weight: 700;
  }
}

.field_with_errors label {
  color: var(--red-11);
  font-weight: 800;
}

.subheading-button {
  margin-bottom: 32px;
  background-color: var(--red-9) !important;
  border: 2px solid var(--red-9) !important;
  color: var(--sand-1) !important;
}

.subheading-button:hover {
  background-color: var(--red-10) !important;
  border: 2px solid var(--red-10) !important;
}

a[type=button].subheading-button {
  display: inline-block;
}

.trix-button {
  background: light-dark(transparent, var(--sand-12)) !important;
}

.notice {
  background-color: var(--amber-2);
  padding: 1rem;
  border: 3px solid var(--amber-7);
  border-radius: 10px;

  h2, p {
    margin: 0;
  }
}