:root {
  --amber-1: light-dark(#fefdfb,#16120c);
  --amber-2: light-dark(#fefbe9,#1d180f);
  --amber-3: light-dark(#fff7c2,#302008);
  --amber-4: light-dark(#ffee9c,#3f2700);
  --amber-5: light-dark(#fbe577,#4d3000);
  --amber-6: light-dark(#f3d673,#5c3d05);
  --amber-7: light-dark(#e9c162,#714f19);
  --amber-8: light-dark(#e2a336,#8f6424);
  --amber-9: light-dark(#ffc53d,#ffc53d);
  --amber-10: light-dark(#ffba18,#ffd60a);
  --amber-11: light-dark(#ab6400,#ffca16);
  --amber-12: light-dark(#4f3422,#ffe7b3);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --amber-1: light-dark(color(display-p3 0.995 0.992 0.985),color(display-p3 0.082 0.07 0.05));
      --amber-2: light-dark(color(display-p3 0.994 0.986 0.921),color(display-p3 0.111 0.094 0.064));
      --amber-3: light-dark(color(display-p3 0.994 0.969 0.782),color(display-p3 0.178 0.128 0.049));
      --amber-4: light-dark(color(display-p3 0.989 0.937 0.65),color(display-p3 0.239 0.156 0));
      --amber-5: light-dark(color(display-p3 0.97 0.902 0.527),color(display-p3 0.29 0.193 0));
      --amber-6: light-dark(color(display-p3 0.936 0.844 0.506),color(display-p3 0.344 0.245 0.076));
      --amber-7: light-dark(color(display-p3 0.89 0.762 0.443),color(display-p3 0.422 0.314 0.141));
      --amber-8: light-dark(color(display-p3 0.85 0.65 0.3),color(display-p3 0.535 0.399 0.189));
      --amber-9: light-dark(color(display-p3 1 0.77 0.26),color(display-p3 1 0.77 0.26));
      --amber-10: light-dark(color(display-p3 0.959 0.741 0.274),color(display-p3 1 0.87 0.15));
      --amber-11: light-dark(color(display-p3 0.64 0.4 0),color(display-p3 1 0.8 0.29));
      --amber-12: light-dark(color(display-p3 0.294 0.208 0.145),color(display-p3 0.984 0.909 0.726));
    }
  }
}