:root {
  --green-1: light-dark(#fbfefc,#0e1512);
  --green-2: light-dark(#f4fbf6,#121b17);
  --green-3: light-dark(#e6f6eb,#132d21);
  --green-4: light-dark(#d6f1df,#113b29);
  --green-5: light-dark(#c4e8d1,#174933);
  --green-6: light-dark(#adddc0,#20573e);
  --green-7: light-dark(#8eceaa,#28684a);
  --green-8: light-dark(#5bb98b,#2f7c57);
  --green-9: light-dark(#30a46c,#30a46c);
  --green-10: light-dark(#2b9a66,#33b074);
  --green-11: light-dark(#218358,#3dd68c);
  --green-12: light-dark(#193b2d,#b1f1cb);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root{
      --green-1: light-dark(color(display-p3 0.986 0.996 0.989),color(display-p3 0.062 0.083 0.071));
      --green-2: light-dark(color(display-p3 0.963 0.983 0.967),color(display-p3 0.079 0.106 0.09));
      --green-3: light-dark(color(display-p3 0.913 0.964 0.925),color(display-p3 0.1 0.173 0.133));
      --green-4: light-dark(color(display-p3 0.859 0.94 0.879),color(display-p3 0.115 0.229 0.166));
      --green-5: light-dark(color(display-p3 0.796 0.907 0.826),color(display-p3 0.147 0.282 0.206));
      --green-6: light-dark(color(display-p3 0.718 0.863 0.761),color(display-p3 0.185 0.338 0.25));
      --green-7: light-dark(color(display-p3 0.61 0.801 0.675),color(display-p3 0.227 0.403 0.298));
      --green-8: light-dark(color(display-p3 0.451 0.715 0.559),color(display-p3 0.27 0.479 0.351));
      --green-9: light-dark(color(display-p3 0.332 0.634 0.442),color(display-p3 0.332 0.634 0.442));
      --green-10: light-dark(color(display-p3 0.308 0.595 0.417),color(display-p3 0.357 0.682 0.474));
      --green-11: light-dark(color(display-p3 0.19 0.5 0.32),color(display-p3 0.434 0.828 0.573));
      --green-12: light-dark(color(display-p3 0.132 0.228 0.18),color(display-p3 0.747 0.938 0.807));
    }
  }
}