:root {
  --yellow-1: light-dark(#fdfdf9,#14120b);
  --yellow-2: light-dark(#fefce9,#1b180f);
  --yellow-3: light-dark(#fffab8,#2d2305);
  --yellow-4: light-dark(#fff394,#362b00);
  --yellow-5: light-dark(#ffe770,#433500);
  --yellow-6: light-dark(#f3d768,#524202);
  --yellow-7: light-dark(#e4c767,#665417);
  --yellow-8: light-dark(#d5ae39,#836a21);
  --yellow-9: light-dark(#ffe629,#ffe629);
  --yellow-10: light-dark(#ffdc00,#ffff57);
  --yellow-11: light-dark(#9e6c00,#f5e147);
  --yellow-12: light-dark(#473b1f,#f6eeb4);
}

@supports (color: color(display-p3 1 1 1)) {
  @media (color-gamut: p3) {
    :root {
      --yellow-1: light-dark(color(display-p3 0.992 0.992 0.978),color(display-p3 0.078 0.069 0.047));
      --yellow-2: light-dark(color(display-p3 0.995 0.99 0.922),color(display-p3 0.103 0.094 0.063));
      --yellow-3: light-dark(color(display-p3 0.997 0.982 0.749),color(display-p3 0.168 0.137 0.039));
      --yellow-4: light-dark(color(display-p3 0.992 0.953 0.627),color(display-p3 0.209 0.169 0));
      --yellow-5: light-dark(color(display-p3 0.984 0.91 0.51),color(display-p3 0.255 0.209 0));
      --yellow-6: light-dark(color(display-p3 0.934 0.847 0.474),color(display-p3 0.31 0.261 0.07));
      --yellow-7: light-dark(color(display-p3 0.876 0.785 0.46),color(display-p3 0.389 0.331 0.135));
      --yellow-8: light-dark(color(display-p3 0.811 0.689 0.313),color(display-p3 0.497 0.42 0.182));
      --yellow-9: light-dark(color(display-p3 1 0.92 0.22),color(display-p3 1 0.92 0.22));
      --yellow-10: light-dark(color(display-p3 0.977 0.868 0.291),color(display-p3 1 1 0.456));
      --yellow-11: light-dark(color(display-p3 0.6 0.44 0),color(display-p3 0.948 0.885 0.392));
      --yellow-12: light-dark(color(display-p3 0.271 0.233 0.137),color(display-p3 0.959 0.934 0.731));
    }
  }
}